<% content_for :additional_styles do %>
	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/jquery.weekcalendar.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/new.css' />
<% end %>

<% content_for :additional_scripts do %>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'></script>
	<script type="text/javascript" src="/javascripts/date.js"></script>
	<script type='text/javascript' src='/javascripts/jquery.weekcalendar.js'></script>
	<script type='text/javascript' src='/javascripts/new.js'></script>
<% end %>

<h1>Drag in the calendar to indicate your availability</h1>
<% form_for @meeting do |meeting_form| %>
  <div id="calendar-form">
  </div>
  <%= meeting_form.submit %>
<% end %>
<div id='calendar'></div>
